@import 'libs/bootstrap-reboot.min.css';
@import 'libs/fonts';
@import 'libs/slick';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.divider {
    display: block;
    width: 148px;
    height: 1px;
    background-color: $main-color;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/title';
@import 'blocks/delivery';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/work';
@import 'blocks/feedback';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/policy';


@import 'base/media/media_promo';
@import 'base/media/media_advantage';
@import 'base/media/media_delivery';
@import 'base/media/media_agent';